/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face{
    font-family: "yanone";
    src: url("./assets/css/fonts/yanone.ttf")
}

@font-face{
    font-family: "finger";
    src: url("./assets/css/fonts/finger.ttf")    
}


body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
}